!!! 5
%html
	%head
		%title Login
		= stylesheet_link_tag 'login'
		= stylesheet_link_tag 'bootstrap'
		= javascript_include_tag 'login'
		= csrf_meta_tags
		%link{:href => '/css/view_buildings.css', :rel => "stylesheet"}/
		%link{:href => "/css/logout.css", :rel => "stylesheet"}/
		%link{:href => "/css/account.css", :rel => "stylesheet"}/
		
	%body{:class => 'container', :id => 'boo'}
		.sidenav
			%a{:href => '/dashboard'} DASHBOARD
			%a{:href => '/view_buildings'} VIEW BUILDINGS
			%a{:href => '#'} ADD BUILDINGS
			%a{:href => '/historical_data'} VIEW HISTORICAL DATA
			%a.pressed_sidelink{:href => '/profile_information'} ACCOUNT
			%a{:href => '/logout'} LOG OUT
			
		%h1 VIEW BUILDINGS
		
		%br
		%br
		
		%form.row.text-center#searchie{:name => "search_form", :action => "", :method => "get"}
			%input.input-large{:name => 'search_field', :type => 'search'}/
			%button.btn.btn-success{:type => "submit"} Search
		
		%div#div
			%table
				%thead
					%tr
						%th.top{:style => 'width: 450px;'}= link_to 'NAME OF BUILDING', view_buildings_path(:sorter => 'name')
						%th{:style => 'padding: 4px;'}
						%th.top{:style => 'width: 200px;'}= link_to 'DATE BUILT', view_buildings_path(:sorter => 'date')
						%th{:style => 'padding: 4px;'}
						%th.top{:style => 'color: rgb(0,0,255); width: 19 0px;'} CONDITION
						
				%tbody
					-count = 0
					- @buildings.each do |building|
						%tr
							%td.inside{:class => ('bottom' if count == @buildings.length-1)}= building.name
							%td
							%td.inside{:class => ('bottom' if count == @buildings.length-1)}= building.date_built
							%td
							%td.inside{:class => ('bottom' if count == @buildings.length-1)}= building.condition
							-count += 1