!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    / Tell the browser to be responsive to screen width
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
  %body
    %p
      zoomIn
      %meta{:content => "", :name => "author"}/
      / Favicon icon
      %link{:href => "images/favicon.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %title Ela - Bootstrap Admin Dashboard Template
    / Bootstrap Core CSS
    %link{:href => "css/lib/bootstrap/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom CSS
    %link{:href => "css/helper.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file:**
    /[if lt IE 9]
      <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    / Preloader - style you can find in spinners.css
    .preloader
      %svg.circular{:viewbox => "25 25 50 50"}
        %circle.path{:cx => "50", :cy => "50", :fill => "none", :r => "20", "stroke-miterlimit" => "10", "stroke-width" => "2"}
    / Main wrapper
    #main-wrapper
      .header
        %nav.navbar.top-navbar.navbar-expand-md.navbar-light
          / Logo
          .navbar-header
            %a.navbar-brand{:href => "index.html"}
              / Logo icon
              %b
                %img.dark-logo{:alt => "homepage", :src => "images/logo.png"}/
              / End Logo icon
              / Logo text
              %span
                %img.dark-logo{:alt => "homepage", :src => "images/logo-text.png"}/
          / End Logo
          .navbar-collapse
            / toggle and nav items
            %ul.navbar-nav.mr-auto.mt-md-0
              / This is
              %li.nav-item
                %a.nav-link.nav-toggler.hidden-md-up.text-muted{:href => "javascript:void(0)"}
                  %i.mdi.mdi-menu
              %li.nav-item.m-l-10
                %a.nav-link.sidebartoggler.hidden-sm-down.text-muted{:href => "javascript:void(0)"}
                  %i.ti-menu
            / User profile and search
            %ul.navbar-nav.my-lg-0
              / Comment
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle.text-muted.text-muted{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-bell
                  .notify
                    %span.heartbit
                    %span.point
                .dropdown-menu.dropdown-menu-right.mailbox.animated.zoomIn
                  %ul
                    %li
                      .drop-title Notifications
                    
                    %li
                      %a.nav-link.text-center{:href => "javascript:void(0);"}
                        %strong Check all notifications
                        %i.fa.fa-angle-right
              / End Comment
              / Profile
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle.text-muted{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
                  %img.profile-pic{:alt => "user", :src => "images/users/5.jpg"}/
                .dropdown-menu.dropdown-menu-right.animated.zoomIn
                  %ul.dropdown-user
                    %li
                      %a{"data-target" => "#changePassModal", "data-toggle" => "modal", :href => "javascript:;"}
                        %i.ti-user
                        Change Password
                    %li
                      %a{:href => "#"}
                        %i.ti-wallet
                        Balance
                    %li
                      %a{:href => "#"}
                        %i.ti-email
                        Inbox
                    %li.divider{:role => "separator"}
                    %li
                      %a{:href => "#"}
                        %i.ti-settings
                        Setting
                    %li.divider{:role => "separator"}
                    %li
                      %a{:href => "/logout"}
                        %i.fa.fa-power-off
                        Logout
      / End header header
      / Left Sidebar
      .left-sidebar
        / Sidebar scroll
        .scroll-sidebar
          / Sidebar navigation
          %nav.sidebar-nav
            %ul#sidebarnav
              %li.nav-devider
              %li.nav-label Home
              %li
                %a{:href => "/dashboard"}
                  %i.fa.fa-tachometer
                  %span.hide-menu
                    Dashboard
              %li
                %a{:href => "/view_buildings"}
                  %i.fa.fa-table
                  %span.hide-menu View Buildings
              %li
                %a{:href => "add_building"}
                  %i.fa.fa-wpforms
                  %span.hide-menu Add Buildings
              %li
                %a{:href => "/add_historical_data"}
                  %i.fa.fa-wpforms
                  %span.hide-menu Add Historical Data
              %li				  
                %a{:href => "/historical_data"}
                  %i.fa.fa-book
                  %span.hide-menu View Historical Data
              %li
                %a{"aria-expanded" => "false", :href => "/profile_information"}
                  %i.fa.fa-user
                  %span.hide-menu Profile
              
      .page-wrapper
        / Bread crumb
        .row.page-titles
          .col-md-5.align-self-center
            %h3.text-primary Profile
          .col-md-7.align-self-center
            %ol.breadcrumb
              %li.breadcrumb-item
                %a{:href => "javascript:void(0)"} Home
              %li.breadcrumb-item.active Profile
        / End Bread crumb
        / Container fluid
        .container-fluid
          / Start Page Content
          .row
            / Column
            .col-lg-12
              .card
                .card-body
                  .card-two
                    %header
                      .avatar
                        %img{:alt => "Allison Walkerss", :src => "https://randomuser.me/api/portraits/women/21.jpg"}/
                    %h3 Allison Walker
                    .desc
                      Welcome to Infrastructure Management and Inventory!
            / Column
            / Column
            .col-lg-12
              .card
                / Nav tabs
                %ul.nav.nav-tabs.profile-tab{:role => "tablist"}
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#home", :role => "tab"} Profile
                  %li.nav-item
                    %a.nav-link.active{"data-toggle" => "tab", :href => "#profile", :role => "tab"} Account
                / Tab panes
                .tab-content
                  #home.tab-pane{:role => "tabpanel"}
                    .card-body
                      %form.form-horizontal.form-material{:action => "/profile_information", :method => "get"}
                        .form-group
                          %br/
                          %label.col-md-12 First Name
                          .col-md-12
                            %input.form-control.form-control-line{:name => "first_name", :readonly => "readonly", :type => "text", :value => "#{@first_name}"}/
                        .form-group
                          %label.col-md-12 Last Name
                          .col-md-12
                            %input.form-control.form-control-line{:name => "last_name", :readonly => "readonly", :type => "text", :value => "#{@last_name}"}/
                        .form-group
                          %label.col-md-12 Phone No
                          .col-md-12
                            %input.form-control.form-control-line{:name => "mobile_number",:readonly => "readonly", :type => "text", :value => "#{@mobile_number}"}/
                        .form-group
                          .col-sm-12
                            %button.btn.btn-success Update Profile
                  / second tab
                  #profile.tab-pane.active{:role => "tabpanel"}
                    .card-body
                      %form.account_settings{:action => "/update/account_settings", :method => "get", :name => "account_settings"}
                        #divcen.form-group
                          %label.col-md-12{:name => "emailadd"} Email
                          .col-md-12
                            %input#emailAdd.form-control.form-control-line{:name => "emailAdd", :placeholder => "example@up.edu.ph", :readonly => "readonly", :type => "text", :value => "#{@email}"}/
                        .form-group
                          %label.col-md-12{:name => "passwd"} Password
                          .col-md-12
                            %input#passwd.form-control.form-control-line{:name => "passwd", :type => "password", :value => "#{@passwd}"}/
                        .form-group
                          .col-sm-12
                            %button.btn.btn-success{:type => "submit"} Save Account
            / Column
          / End PAge Content
        / End Container fluid
        / footer
        %footer.footer
          © 2018 All rights reserved. Template designed by
          %a{:href => "https://colorlib.com"} Colorlib
        / End footer
      / End Page wrapper
    #changePassModal.modal{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          %form{:action => "javascript:;", :novalidate => "novalidate"}
            .modal-header
              %h5.modal-title Change Password
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              %div
                .form-group
                  %label{:for => "oldPass"}
                    old Password
                  %input#oldPass.form-control{"data-val" => "true", "data-val-required" => "this is Required Field", :name => "oldPass", :type => "password"}/
                  %span.field-validation-valid.text-danger{"data-valmsg-for" => "oldPass", "data-valmsg-replace" => "true"}
                .form-group
                  %label{:for => "newPass"}
                    New Password
                  %input#newPass.form-control{"data-val" => "true", "data-val-required" => "this is Required Field", :name => "newPass", :type => "password"}/
                  %span.field-validation-valid.text-danger{"data-valmsg-for" => "newPass", "data-valmsg-replace" => "true"}
                .form-group
                  %label{:for => "confirmPass"}
                    Confirm Password
                  %input#confirmPass.form-control{"data-val" => "true", "data-val-equalto" => "Password not Match ", "data-val-equalto-other" => "newPass", "data-val-required" => "this is Required Field", :name => "confirmPass", :type => "password"}/
                  %span.field-validation-valid.text-danger{"data-valmsg-for" => "confirmPass", "data-valmsg-replace" => "true"}
            .modal-footer
              %button.btn.btn-primary{:type => "submit"} Save changes
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
    / End Wrapper
    / All Jquery
    %script{:src => "js/lib/jquery/jquery.min.js"}
    / Bootstrap tether Core JavaScript
    %script{:src => "js/lib/bootstrap/js/popper.min.js"}
    %script{:src => "js/lib/bootstrap/js/bootstrap.min.js"}
    %script{:src => "js/lib/form-validation/jquery.validate.min.js"}
    %script{:src => "js/lib/form-validation/jquery.validate.unobtrusive.min.js"}
    %script{:src => "js/lib/jquery.nicescroll/jquery.nicescroll.min.js"}
    / slimscrollbar scrollbar JavaScript
    %script{:src => "js/jquery.slimscroll.js"}
    / Menu sidebar
    %script{:src => "js/sidebarmenu.js"}
    / stickey kit
    %script{:src => "js/lib/sticky-kit-master/dist/sticky-kit.min.js"}
    / Custom JavaScript
    %script{:src => "js/custom.min.js"}
    :javascript
      $(function(){
        $("html").niceScroll({
            cursorcolor:"#16385d",
            cursorwidth:"5px",
            background:"#fff",
            cursorborder:"1px solid #5c4ac7",
            cursorborderradius:0
            });  // a world f
      });
